$color-green: #00FF00;
$color-green-2: #001600;
$color-green-3: #072800;
$color-gradient-green-1: #0A2600;
$color-gradient-green-2: #0A5100;
$color-black: #0A0000;
$color-gradient-green-black1: #0A1D00;
$color-gradient-green-black2: #0A0000;
$color-red: #FF4200;
$color-red-2: #E03500;

.background-gradient-green{
  background-image: linear-gradient(to right, $color-gradient-green-1, $color-gradient-green-2);
};
.background-gradient-green-2{
  background-image: linear-gradient(to bottom, $color-gradient-green-1, $color-gradient-green-2);
};

.background-gradient-green-black{
  background-image: linear-gradient(to right, $color-gradient-green-black1, $color-gradient-green-black2);
}

%background-gradient-green-top-bottom{
  background-image: linear-gradient(to bottom, $color-gradient-green-1, $color-gradient-green-2);
}

%text-shadow-green{
  text-shadow: 2px 2px 15px rgba(0, 255, 0, 0.8);
}

%box-shadow-green{
  box-shadow: 2px 2px 15px $color-green;
}

@mixin btnGradient($direction, $color-gradient-1, $color-gradient-2, $border-color, $text-shadow) {
  background-image: linear-gradient(to $direction, $color-gradient-1, $color-gradient-2);
  border: 1px solid $border-color;
  padding: 5px 30px;

  color: white;
  font-family: Progress_Bold_Italic;
  font-size: 12px;
  text-shadow: $text-shadow
}

@mixin bgGradient($direction, $color-gradient-1, $color-gradient-2) {
  background-image: linear-gradient($direction, $color-gradient-1, $color-gradient-2);
}


#content-buy-land{
  height: 110%;
  width: 100%;
  position: absolute;
  top: 144px;
  @media (max-width: 600px) {
    top: 115px;
  }

  .main{
    .land{
      &-left{
        background-color: rgba(0, 0, 0, 0.7);
        padding: 26px 0 26px 26px;
        position: relative;

        &-close{
          position: absolute;
          top: 15px;
          right: 15px;

          width: 13px;
          height: 13px;

          &:hover{
            opacity: 0.5;
          }
        }

        &-arrow{
          position: absolute;
          top: 100%;
          left: 50%;
          @media (max-width: 768px) {
            display: none;
          }

        }
  
        &-img{
          width: 175px;
          height: 175px;
          // max-width: 175px;
          // max-height: 175px;
          border: 1px solid $color-green;
          background-image: url('../../public/images/land.png');
          background-position: center;
        }
  
        .landplot{
          font-family: Progress_Bold_Italic;
          font-size: 12px;
          color: $color-green;
        }
  
        .land-id-small{
          background-color: $color-green;
          width: 100px;
          padding-left: 5px;
          margin: 10px 0;
  
          font-size: 10.5px;
          color: black;
        }
  
        .status-and-price{
          color: $color-green;
  
          label{
            color: white;
            display: inline-block;
            width: 100px;
            margin-bottom: 5px;
          }
        }
        .owner-id{
          color: $color-green;
          font-size: 13px;
          @extend %text-shadow-green;
        }
      }
    }
    
  }

  .land-id-large{
    font-size: 36px;
    color: white;
    @extend %text-shadow-green;
  }

  .btn-add-to-cart, .btn-apply, .btn-buy{
    background-image: linear-gradient(to bottom, $color-gradient-green-1, $color-gradient-green-2);
    
    height: 27px;
    line-height: 27px;
    padding: 0 15px;
    border: 1px solid $color-green;
    box-shadow: 1px 1px 5px $color-green;

    font-size: 12px;
    font-family: Progress_Bold_Italic;
    color: white;
    @extend %text-shadow-green;

    &:hover{
      opacity: .8;
    }
  }

  .btn-remove{
    @include btnGradient(right, #BD4500, #400000, $color-red, 2px 2px 15px rgba(189, 69, 0, 0.8))
  }

  .btn-sell{
    @include btnGradient(right, #DD0000, #790000, #E50303, 2px 2px 15px rgba(221, 0, 0, 0.8));
    padding-left: 20px;
    padding-right: 20px;
  }

  .btn-transfer{
    @include btnGradient(bottom, $color-gradient-green-2, $color-gradient-green-1, $color-green, 2px 2px 15px rgba(0, 255, 0, 0.8));
    margin-left: 15px
  }
};


/* MY LAND */
.my-land{
  position: absolute;
  width: 100%;
  top: 144px;
  @media (max-width: 600px) {
    top: 115px;
  }
  #content{
    background-color: #040A00;
    background-image: url('../../public/images/bg-my-land.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .content{
    &-header{
      .wallet-address{
        color: white;
        font-size: 20px;
      }
  
      &-input{
        border: 1px solid $color-green;
        padding-left: 15px;
        background-color: #040F00;
        width: 400px;

        @media (max-width: 1023px) {
        // @media (max-width: 991px) {
          width: 100%;
        }
        
        input{
          border: none;
          outline: none;
          background: transparent;
          border-radius: 0;
          flex-grow: 1;
          display: inline-block;
          margin-left: 5px;
          width: 60%;
          
          color: #C1C1C1;
          font-family: Helvetica_Light_Oblique;
          font-size: 24px;
        }
      }
  
      &-hbg{
        // width: 112px;
        flex-grow: 1;
        height: 53px;
        background-color: $color-green;
        text-align: center;
  
        color: #002100;
        font-family: Progress_Bold_Italic;
        font-size: 28px;
        line-height: 53px;
      }
  
      &-box{
        width: 134px;
        height: 134px;
        display: flex;
        text-align: center;
        border: 1px solid $color-green;
        @include bgGradient(to bottom, $color-gradient-green-1, $color-gradient-green-2);
  
        p{
          font-size: 23px;
          color: white;
        }
        span{
          font-size: 18px;
          color: $color-green;
          display: inline-block;
          margin-left: 5px;
        }
      }
  
      &-total{
        color: white;
        font-size: 17px;
        @extend %text-shadow-green;
  
        span{
          color: $color-green;
          font-size: 24px;
        }
      }
  
      &-line{
        height: 2px;
        width: 100%;
        background-color: #D4FFBB;
      }
    }
  
    &-main{
      &-box{
        // width: 172px;
  
        &-img{
          background-image: url('../../public/images/land.png');
          background-position: center;
          width: 172px;
          height: 172px;
          border: 1px solid $color-green;
          @extend %box-shadow-green;
        }
  
        &-no{
          background-color: $color-green;
          height: 25px;
          line-height: 25px;
  
          color: #040C00;
          font-size: 23px;
          text-align: center;
        }
  
        &-reward{
          color: $color-green;
          span{
            font-size: 20px;
            color: white;
            @extend %text-shadow-green;
            display: inline-block;
            margin-left: 5px;
          }
        }
  
        &-line{
          @include bgGradient(45deg, $color-gradient-green-1, $color-gradient-green-2);
          border: 1px solid $color-green;
          position: relative;
          height: 15px;
    
          .line-percent{
            background-color: $color-green;
            width: 50%;
            height: 100%;
          }
    
          span{
            display: inline-block;
            width: 100%;
            height: 100%;
            text-align: center;
            font-family: Helvetica_Neue;
            color: white;
            font-size: 15px;
    
            position: absolute;
            z-index: 1;
            top: -5px;
          }
        }
      }
    }
    
    .btn-sell{
      @include btnGradient(right, #DD0000, #790000, #E50303, 2px 2px 15px rgba(221, 0, 0, 0.8));
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .btn-transfer, .btn-cancel, .btn-change-hero{
      @include btnGradient(bottom, $color-gradient-green-2, $color-gradient-green-1, $color-green, 2px 2px 15px rgba(0, 255, 0, 0.8));
      margin-left: 15px;
      padding: 5px 20px;
    }
  
    .btn-hbg{
      @include btnGradient(10deg, #00B1FF, #00FFA9, #00B1FF, 2px 2px 15px rgba(0, 177, 255, 0.8));
      padding-left: 20px;
      padding-right: 20px;
      color: black;
      background-image: linear-gradient(-45deg, #00FFA9, #00B1FF);
    }
  
    &-right{
  
      .btn-sell, .btn-transfer, .btn-change-hero, .btn-stop-minning{
        font-size: 18px;
      }
  
      .btn-claim{
        @include btnGradient(to right, #0A6300, #0A0000, $color-green, 2px 2px 15px rgba(0, 255, 0, 0.8));
        color: white;
        padding: 0px 30px;
        font-size: 30px;
      }
  
      &-text{
        color: white;
        font-family: Helvetica_Neue;
        font-size: 27px;
      }
    }
  }
}